#:schema https://raw.githubusercontent.com/YunoHost/apps/master/schemas/manifest.v2.schema.json

packaging_format = 2

id = "syncserver-rs"
name = "Firefox SyncStorage"

description.en = "Synchronize tabs, passwords, history etc. between your Firefox instances"
description.fr = "Synchronisez for onglets, mot de passe, historique etc entre vos Firefox"

version = "0.21.1.1~ynh1"

maintainers = ["orhtej2"]

[upstream]
license = "MPL-2.0"
website = "https://www.mozilla.org/en-GB/firefox/features/sync/"
admindoc = "https://github.com/mozilla-services/syncstorage-rs/blob/master/docs/config.md"
code = "https://github.com/mozilla-services/syncstorage-rs"
fund = "https://donate.mozilla.org/en-GB/"

[integration]
yunohost = ">= 12.1.17"
helpers_version = "2.1"
architectures = "all"
multi_instance = true

sso = false
ldap = false

disk = "50M"
ram.build = "50M"
ram.runtime = "50M"

[install]
    [install.domain]
    type = "domain"

[resources]

    [resources.sources]

        [resources.sources.main]
        url = "https://github.com/mozilla-services/syncstorage-rs/archive/bf4ba77bdcd06b2e450b16076d55f7e1eaa6bf08.tar.gz"
        sha256 = "93034f05d684436ce33563f25e1513923983f0637268bccde6ffac9664a9e55b"
        autoupdate.strategy = "latest_github_tag"

    [resources.system_user]

    [resources.install_dir]

    [resources.permissions]
    main.url = "/"
    main.show_tile = false
    main.allowed = "visitors"
    main.protected = true

    [resources.ports]

    [resources.apt]
    packages = "mariadb-server, default-libmysqlclient-dev, cmake, python3-dev, python3-pip, python3-setuptools, python3-wheel, build-essential, libssl-dev, libffi-dev, libcurl4, pkg-config, python3-venv"

    [resources.database]
    type = "mysql"

    #[resources.go]
    #version = "1.20"
